<h2>エモ度ランキング</h2>
<% if @lowerage == 20 && @upperage == 60 %>
  <div class="note note-rank"><%= "※ 数値は全年代(20~60歳)のみんなの評価です。" %></div>
<% else %>
  <div class="note note-rank"><%= "※ 数値はあなたと同年代(#{@lowerage}~#{@upperage}歳)のみんなの評価です。" %></div>
<% end %>

  <div class="ranking">
    <% ranking = 0 %>
    <% $item_list.each do |item_menu| %>
      <% ranking += 1 %>
      <div class="ranking-frame">
        <%# $item_choice = $item_menu[item.id] %>
        <% $item_choice = item_menu[0] %>
        <% $item_menu.delete(item_menu[0]) %>        
        <a href="/items/<%= item_menu[0] %>">
          <div class="ranking-detail">
            <p><%= "#{ranking}位(エモ度#{item_menu[2]}%)" %></p>
            <p><%= "#{item_menu[1]}" %></p>
          </div>
          <div class="ranking-image">
            <%= image_tag item_menu[3].variant(resize: '100x100'), class: 'image-top' %>
          </div>
        </a>
      </div>
    <% end %>    
  </div>

