<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with model: @item, class: 'form', local: true do |f| %>
      <div class="form-input">
        <label class="form-image">
          <span class="form-image">画像</span>
          <%= f.file_field :image, class: 'hidden' %><br>
        </label>
        <%= f.text_field :name, placeholder: "名前" %><br>
        <%= f.text_area :url, placeholder: "写真引用元URL" %><br>
      </div>
      <%= f.submit "SEND", class: 'form-submit' %>
    <% end %>
  </div>
</div>