<h2><%= @item.name %></h2>
<p class="frame"><%= image_tag @item.image.variant(resize: '1000x1000'), class: 'item-image' if @item.image.attached? %></p>
<p class="url-title"><%= "写真引用元" %></p>
<p class="url"><%= "#{@item.url}" %></p>

<table>
<tr>
<td><button>知らない</button></td>
<td><button>知ってる</button></td>
<td><button>エモい！</button></td>
</tr>
</table>

<div class="comment-area">
  <% if user_signed_in? %>
    <div class="form-post">
      <%= form_with(model: [@item, @evaluation], local: true) do |f| %>
      <%= f.text_field :comment, class: 'form-comment', placeholder: "コメントしたいほどエモった人はこちら"%>
      <%= f.hidden_field :rate, value: 3 %>
      <%= f.submit "投稿", class: 'btn' %>
      <% end %>
    </div>
  <% end %>
  <div class="comment-list">
    <h3>＜コメント一覧＞</h3>
    <% if @evaluations %>
      <% @evaluations.each do |evaluation| %>
        <% if evaluation.comment %>
          <ul class="comment">
            <%= simple_format("#{evaluation.comment} (#{evaluation.user.age}歳)") %>
          </ul>
        <% end %>
      <% end %>
    <% else %>
      <p>コメントはありません</p>
    <% end %>
  </div>
</div>