<!DOCTYPE html>
<html>
  <head>
    <title>EmoSha</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-left">
        <h1 class="title"><a href="/">エモ写</a></h1>
        <p class="sub-title">懐かしくてエモい写真館</p>
      </div>
      <div class="header-center">
        <% if user_signed_in? %>
          <%# <a class="signup" href="/users/sign_up">新規登録</a> %>
          <div class="label"><%= "#{current_user.age}歳向け" %></div>
          <%= link_to "年齢変更", destroy_user_session_path, method: :delete, class: "btn" %>
        <% else %>
          <%#= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
          <%= render "devise/sessions/new" %>
        <% end %>
      </div>
      <div class="header-right">
        <a class="list" href="/items">一覧</a>
        <a class="post" href="/items/new">投稿</a>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>Copyright EmoSha 2020.</p>
    </footer>
  </body>
</html>