<!DOCTYPE html>
<html>
  <head>
    <title>EmoSha</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header_left">
        <h1 class="title"><a href="/">EmoGya</a></h1>
        <div class="header_center">
          <a class="login" href="/">ログイン</a>
        </div>
        <div class="header_right">
          <a class="post" href="/items/new">新規投稿</a>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>Copyright EmoSha 2020.</p>
    </footer>
  </body>
</html>